    <!-- Header -->
    <ion-view view-title="Beliebte Städte">
    <!-- Kacheln mit beliebten Städten -->    
        <ion-content>
            <a ng-repeat="city in cities" href="#/app/city/{{city.id}}">
                <div id ="{{city.id}}"
                       style="background-image: url(../img/{{city.id}}/{{city.img}})"
                       class="stadt">
                    <button class="button button-clear buttonstart">
                        <p class="pstart">{{city.name}}</p>
                        <i class="ion-bookmark bookmark"></i>
                    </button>
                </div>
            </a>
        </ion-content>
    </ion-view>

