<ion-view view-title="{{city.name}}">
    <ion-nav-buttons side="right" ng-class="">
        <a class="button button-icon icon ion-bookmark" ui-sref="app.favorites"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="stadt">
            <div>
                <img src="img/{{city.id}}/{{city.img}}" class="topbild" />
            </div>
            <h2>{{city.title}}</h2>
            <p>
              {{city.text}}  
            </p>

            <div>
                <div class="weathers">
                    <div ng-hide="hasWeatherData">Keine Wetterdaten gefunden.</div>
                        <div ng-show="hasWeatherData" ng-repeat="weather in weatherdata.weather">
                            <!--<div class="weatherIcon" id="{{weather.id}}" data-weather-icon></div>-->
                            <div data-weather-icon class="weatherIcon" id="{{weather.id}}"></div>
                            <temperature class="temperature" measure="measure" kelvin="{{weatherdata.main.temp}}"></temperature>

                            <span class="description">{{weather.main}} ({{weather.description}})</span>
                            <hr>
                            <span class="humidity">{{weatherdata.main.humidity}}% humidity</span>
                        </div>
                </div>

                <div class="weathers">
                    <div>{{weatherforecastdata}}</div>
                    <!--<ul>-->
                        <!--<li ng-repeat="weather in weatherdata.weather">-->
                            <!--&lt;!&ndash;<div class="weatherIcon" id="{{weather.id}}" data-weather-icon></div>&ndash;&gt;-->
                            <!--<div data-weather-icon class="weatherIcon" id="{{weather.id}}"></div>-->
                            <!--<temperature class="temperature" measure="measure" kelvin="{{weatherdata.main.temp}}"></temperature>-->

                            <!--<span class="description">{{weather.main}} ({{weather.description}})</span>-->
                            <!--<hr>-->
                            <!--<span class="humidity">{{weatherdata.main.humidity}}% humidity</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>


            </div>

            <div ng-repeat="group in city.additionalInfos">
                <div class="item-stable stadtkacheln"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <i class="{{group.icon}} items"></i>
                    {{group.groupname}}
                    <i class="icon abs-right" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                    <div class="item-accordion"
                         ng-show="isGroupShown(group)">
                        <div ng-repeat="content in group.content">
                            <span ng-if="content.type=='text'">{{content.item}}</span>
                            <ul ng-if="content.type=='list'">
                                <li ng-repeat="listitem in content.item">{{listitem}}</li>
                            </ul>
                        </div>
                        
                        {{group.list}}
                    </div>
                </div>
               
            </div>
            </div>
    </ion-content>
</ion-view>